<h1>Editing Segmentation Condition</h1>

<%= render 'form', segmentation_condition: @segmentation_condition %>

<%= link_to 'Show', @segmentation_condition %> |
<%= link_to 'Back', segmentation_conditions_path %>
