<section id="cover" class="wide">
	<div class="container">
		<div class="cover-title">
			<%= render 'partials/brand' %>
		</div>
		<div class="cover-subtitle"> 
			<%= t('section.cover.subtitle') %> 
		</div>
	</div>
</section>
