// bootstrap is very useful for rapid mvps :)
@import "bootstrap-sprockets";
@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import "font-awesome";

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");

body, html {
	height: 100%;
	min-height: 100%;
	margin-top: 40px;
	padding-top: 0px;
}

// brand title style
.brand-title {
	&-normal {
		font-family: 'Roboto', sans-serif;
		font-weight: bolder;
	}

	&-thin {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
	}
}

// navbar customization
.navbar-heavy {
	padding-top: 15px;
	padding-bottom: 15px;
}

// navbar custom size
.navbar-brand {
	font-size: 30px;
	padding: 10px 0px 0px 30px;
}


// header cover style
.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-size:cover;
	background-color: #A3CCC6;
	background-image: image-url('cover.jpg');
}

// cover section style
section#cover {
	color: #FFFFFF;
	text-align: center;
	.cover-title {
		margin-top: 100px;
		font-size: 82pt;
	}
	.cover-subtitle {
		font-size: 32pt;
	}
}

section {
	padding: 100px 0px 100px 0px;
	.section-title {
		padding: 40px 0px 10px 0px;
		font-size: 32pt;
	}
	.section-subtitle {
		font-size: 16pt;
		color: #999999;
		padding: 10px 0px 40px 0px;
	}
}

section#lead {
	text-align: center;
}

section#signin-form-section {
	margin-top: 100px;
}
